* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.header3
{
  background-color: #333;
  color: #fff;
  padding: 2rem;
  display: flex;
  margin-bottom: 1.5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  word-spacing: 0.2rem;
}

.header3 h1
{
  margin: 0;
}

form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  label {
    margin-bottom: 0.5rem;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  input[type="time"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  select
  {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  button
  {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  
  .btn {
    margin-right: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
 
  .form-title3{
    margin-left: 17rem;
    margin-bottom: 0.625rem;
    font-size: 1.25rem;
    color: #b1b1b1;
    text-transform: uppercase;
  }

  .form-container3{
    width: 50rem;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.2);
    border-radius: 10px;
    padding: 1.25rem;
    background-color: #ddd;
    margin-bottom: 1.5rem;
    height: 29.2rem;
  }

  .chart-title3{
    font-size: 1.8rem;
    color: #b1b1b1;
    text-transform: uppercase;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
  }

  .App3 {
    height: 126vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 2vw;
    flex-wrap: wrap;
    background-color: #ddd;
    margin-bottom: 1.5rem;
  }
  
  .dataCard3 {
    background-color: #efefef;
    border-radius: 0.5em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1em;
  }
  
  .revenueCard3 {
    width: 92%;
    height: 20rem;
  }
  
  .customerCard3 {
    width: 50%;
    height: 20rem;
  }
  
  .categoryCard3 {
    width: 40%;
    height: 20rem;
  }
  
 