.container2 {
  width: 40%;
  margin: 8em auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: peachpuff;
}

.form-group2 {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.success-message {
  background-color: lightblue;
  border-color: black;
  color: black;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 0.2em;
}
